<div class="container"><!--  container -->
    <div class="row fondobeforpie"><!--  first row -->    
    	<div class="col-sx-12 "><!-- 	second column -->
			<p class="textopie"> <b>FOLLOW US:</b>
				<%= image_tag("socialnet/email-logo.png", width:'30px')  %>
				<%= image_tag("socialnet/facebook.jpg", width:'30px')  %>
				<%= image_tag("socialnet/google.png", width:'30px')  %>
				<%= image_tag("socialnet/yt.png", width:'30px')  %>
				<%= image_tag("socialnet/twitter.png", width:'30px')  %>
			</p>		
		</div><!-- / second column -->
	</div ><!-- / first row -->  
	<div class="row fondopie"><!--  first row -->  
		<div class="col-xs-12 "><!-- first column -->
        	<p class="textopie"> by <span class="glyphicon glyphicon-star mb"></span><span class="mb">MELLOW BANANA</span> developers </p>
      	</div><!-- / first column -->
	</div ><!-- / first row -->   
</div> <!-- / container -->