<div class="textojst col-lg-8 col-md-8 col-sm-12 col-xs-12">
	<h1>about <b>MELLOW BANANA</b></h1>
  <br />
	<p>Mellow Banana is an App created only for a student proposal, in other words this web is a way to learn, we don't try to achieve any kind of benefits. </p>
	<p>Kolau company together with the Balaguer council ofer YouthCanDoIt project in order to teach youth people who don't have a job. The idea is form this people in order to give them some competences to face the new wold's job demand as a 'programmer'.</p>
	<p>YouthCanDoIt project is leaded by KOLAU company digging deeper by Danny Mola the Kolau's founder and CEO </p>
  <p> The project form studens in some different programming languages such as html, CSS, Javascript, JQuery, SQLposgres and Ruby on Rails. </p>
  <p>The CEI Balaguer (Innovate Business Center) try to find som entrepreneur people for his intallations. The Business incubator offers very good services to new companies or entrepreneur people in order to start the activity.</p>
  <p>Kolau is an exemple of entrepreneurship, it is a Hawaiian-inspired Marketing company that allows small businesses to be in control of their online presence, ranking higher in Google, and doing it alll by themselves. kolay is headquared in Vancouver, WA and SAn Francisco, CA and its 20+ team is fully distributed, working wherever we decide to call home.</p>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	<%= image_tag("logo/kolau_logo.png", width:'350px')  %>
	<br />
	<br />
	<%= image_tag("logo/LOGO_CEIBALAGUER.png", width:'350px')  %>

<table>
  <tr>
    <th>Language</th>
    <th>Level</th>
    <th>Image</th>
  </tr>
  <tr>
    <td>Html</td>
    <td>Basic to Advance</td>
    <td><%= image_tag("languages/HTML5_Logo_512.png", width:'50px')  %></td>
  </tr>
  <tr>
    <td>CSS</td>
    <td>Basic to Advance</td>
    <td><%= image_tag("languages/css3.png", width:'50px')  %></td>
  </tr>
  <tr>
    <td>Javascript</td>
    <td>Basic in Ruby on Rails views</td>
    <td><%= image_tag("languages/js1_0.png", width:'50px')  %></td>
  </tr>
  <tr>
    <td>PostgresSQL</td>
    <td>Basic to Medium</td>
    <td><%= image_tag("languages/postgreSQL_Logo_Clipart_Free.png", width:'50px')  %></td>
  </tr>
  <tr>
    <td>Ruby on Rails</td>
    <td>Basic concept MVC and implementation</td>
    <td><%= image_tag("languages/ruby-on-rails-150x150.jpg", width:'50px')  %></td>
  </tr>

</table>
</div>
