<div class="textjustificado col-lg-8 col-md-12 col-sm-12 col-xs-12">
	<h1>about <b>MELLOW BANANA</b></h1><br />
	<p>Mellow Banana is an App created only for a student proposal, in other words this web is a way to learn, we don't try to achieve any kind of benefits. </p>
	<p>The YouthCanDoIt team together with the Balaguer's Council offer this projoct to teach youth people who don't have a job. The idea is form this people in order to give them some competences to face the new wold's job demand as a 'programmer'.</p>
	<p>YouthCanDoIt project is leaded by KOLAU company digging deeper by Danny Mola the Kolau's founder and CEO.</p>
	<p>The users can interact holding information in the webside. The idea is find films, programs, songs of users self iterest share and rate it!!</p>
	<p>Hold the picture!! and share your opinion!!</p>
	<p>Tanks!! :-)<br /> Mellow Banana team</p>



</div>

<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
	<%= image_tag("logo/kolau_logo.png", width:'350px')  %>
	<br />
	<br />
	<%= image_tag("logo/LOGO_CEIBALAGUER.png", width:'350px')  %>	  <table class="table table-striped">
    <div >
    <table class="aboutfondo">
    <thead >
    <p>The students will hava competences about the different codes:</p>
      <tr>
        <th>Code language</th>
        <th>Level</th>
        <th>image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Html</td>
        <td>Basic to advance</td>
        <td><%= image_tag("logo/HTML5_Logo_512.png", width:'50px')  %></td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>Basic to advance</td>
        <td><%= image_tag("logo/css3.png", width:'50px')  %></td>
      </tr>
      <tr>
        <td>Javascript</td>
        <td>Basic to inplement Ruby views</td>
        <td><%= image_tag("logo/js1_0.png", width:'50px')  %></td>
      </tr>
        <tr>
        <td>SQL (PostgreSQL)</td>
        <td>Basic to medium</td>
        <td><%= image_tag("logo/postgreSQL_Logo_Clipart_Free.png", width:'50px')  %></td>
      </tr>
        <tr>
        <td>Ruby on Rails</td>
        <td>Basic-Concept MVC and implementation </td>
        <td><%= image_tag("logo/rubygems-logo-1AD43C5504-seeklogo.com.png", width:'50px')  %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
