
<div class="row">
	<div class="textrecuadro1 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
		<h3><b>Mellow Banana interesting FILM list</b></h3>
		<p><% @pelicula.each do |p| %></p>
      	<p><%= p.name %></p>
    	<% end %>

		<%= link_to " >> ", peliculas_path, class:"btn btn-md btn-default" %> 
	</div>
	<div class="imagenestilo col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
		<%= image_tag("portada/king-arthur-nine-clips.jpg", width:'100%')  %>
	</div>
</div>
<div class="row">
	<div class="textrecuadro2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h3><b> Mellow Banana interesting DVD list</b></h3>
		<p><% @pelicula.each do |p| %></p>
      	<p><%= p.name %></p>
    	<% end %> 
		<%= link_to " >> ", home_path, class:"btn btn-md btn-default" %>
	</div>

	<div class="imagenestilo col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
		<%= image_tag("portada/imagin.jpg", width:'100%')  %>
	</div>
</div>
<div class="row">	
	<div class="textrecuadro1 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">		
		<h3><b>Mellow Banana interesting NEWS </b></h3> 
		<p><% @pelicula.each do |p| %></p>
      	<p><%= p.name %></p>
    	<% end %> 
		<%= link_to " >> ", home_path, class:"btn btn-md btn-default" %>
		
	</div>
	<div class="imagenestilo col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
		<%= image_tag("portada/filmrate", width:'100%')  %>
	</div>
</div>
<div class="row">
	<div class="textrecuadro2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h3><b>Mellow Banana interesting TV</b></h3> 
		<p><% @pelicula.each do |p| %></p>
      	<p><%= p.name %></p>
    	<% end %> 
		<%= link_to " >> ", home_path, class:"btn btn-md btn-default" %>		 
	</div>
	<div class="imagenestilo col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<%= image_tag("portada/gameofthrones.jpg", width:'100%')  %>
	</div>	
</div>



