	<div class="boxesinicio1 col-lg-7 col-md-7 col-sm-12 col-sx-12">
		<h3>Mellow Banana interesting film list </h3>
		<p>
			<% @pelicula.each do |peli| %>
			<p><%= peli.name %></p> 
			<%end%>
		</p>
		<%= link_to " >> ", peliculas_path, class:"btn btn-md btn-default" %> 
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-sx-12 ">
		
	</div>
	<div class="boxesinicio2 col-lg-7 col-md-7 col-sm-12 col-sx-12">
		<h3> Mellow Banana interesting DVD list </h3>
		<p>
			<% @pelicula.each do |peli| %>
			<p><%= peli.name %></p> 
			<%end%>
		</p>
		<%= link_to " >> ", home_path, class:"btn btn-md btn-default" %>
	</div>
	<div class="ccol-lg-5 col-md-5 col-sm-12 col-sx-12 ">
		
	</div>
	<div class="boxesinicio1 col-lg-7 col-md-7 col-sm-12 col-sx-12 ">		
		<h3>Mellow Banana interesting News list </h3>
		<p>
			<% @pelicula.each do |peli| %>
			<p><%= peli.name %></p> 
			<%end%>
		</p>
		<%= link_to " >> ", home_path, class:"btn btn-md btn-default" %>
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-sx-12 ">
		
	</div>
	<div class="boxesinicio2 col-lg-7 col-md-7 col-sm-12 col-sx-12 ">
		<h3>Mellow Banana interesting TV programs </h3>
		<p>
			<% @pelicula.each do |peli| %>
			<p><%= peli.name %></p> 
			<%end%>
		</p>
		<%= link_to " >> ", home_path, class:"btn btn-md btn-default" %> 
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-sx-12 ">
		
	</div>


