	<div class="col-xs-12" >
		<br />
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<center><h1><b>Mellow Banana</b> film list index#page </h1></center>
  			</div>
		</div>
		

		<% @pelicula.each do |peli| %>

		<p>Film name:<%=link_to peli.name, peli %></p>
		<p>Rating:<%= peli.rating %></p>
		<p>Main actor:<%= peli.main_actor %></p>
		<p>Launching:<%= peli.launching %></p>
		<br />

		<hr />
		<%end%>		
		<br />
		<p> <%= link_to "Añadir nueva peli", new_pelicula_path, class:"btn btn-md btn-success" %> </p>
		<br />
		<hr />
	</div>		


