<div class="row"><!-- first column -->
	<div class="col-xs-9">
		<h1>index#page</h1>
		<p>prove text one, two, three ...</p>
	</div>
	<div class="col-xs-3"><!-- first column -->
	<br />
		<ul>
			<% if user_signed_in? %>
			<li>
				<%= link_to "Sing Out", destroy_user_sessin_path, method: :delete %>
			</li>
			<li>
				<%= current_user.email %>
			</li>
			<li>
				<%= link_to "Edit Account", edit_user_registration_path %>
			</li>
			<% else%>
			<li>
				<%= link_to "Sing in", new_user_session_path %>
			</li>
			<li>
				<%= link_to "Sing Up", new_user_registration_path %>
			</li>
			<% end %>
		<ul>
	<br />
	</div><!-- / column -->


</div><!-- / row -->