<div class="col-xs-12 margenes" >
	<h2>Add new film</h2>

	<p>Add an interesting film amd rate it! Help the other people to chose a good film to watch!!</p>

	<%= form_for @pelicula, html: { multipart: true } do |peli| %>

	<p>
	<%= peli.label :name %> <br/>
	<%= peli.text_field :name %>
	</p>

	<p>
	<%= peli.label :rating %> <br/>
	<%= peli.text_field :rating %>
	</p>

	<p>
	<%= peli.label :main_actor %> <br/>
	<%= peli.text_field :main_actor  %>
	</p>

	<p>
	<%= peli.label :launching %> <br/>
	<%= peli.text_field :launching %>
	</p>

	<p>
	<%= peli.label :image %> <br/>
	<%= peli.file_field :image %>
	</p>

	<p>
	<%= peli.label :Synopsis %> <br/>
	<%= peli.text_area(:Synopsis, {:class => 'form-control'}) %>
	</p>
	<br />

	<%= peli.submit "Add", class:"btn btn-md btn-success" %>
	<%= link_to "List", peliculas_path, class:"btn btn-md btn-info"%>

	<% end %>
	
</div>