<div class="col-xs-6 margenes" >
	<h2>Add new film</h2>

	<p>Add an interesting film amd rate it! Help the other people to chose a good film to watch!!</p>

	<%= form_for @pelicula do |peli| %>



	<p>
	<%= peli.label :name %> <br/>
	<%= peli.text_field(:name, {:class => 'form-control'}) %>
	</p>

	<p>
	<%= peli.label :rating %> <br/>
	<%= peli.text_field(:rating, {:class => 'form-control'}) %>
	</p>

	<p>
	<%= peli.label :main_actor %> <br/>
	<%= peli.text_field(:main_actor, {:class => 'form-control'}) %>
	</p>

	<p>
	<%= peli.label :launching %> <br/>
	<%= peli.text_field(:launching, {:class => 'form-control'}) %>
	</p>

	<p>
	<%= peli.label :Synopsis %> <br/>
	<%= peli.text_area(:Synopsis, {:class => 'form-control'}) %>
	</p>
	<br />

	<%= peli.submit "Add", class:"btn btn-md btn-success" %>
	<%= link_to "List", peliculas_path, class:"btn btn-md btn-info"%>

	<% end %>
	
</div>