<!DOCTYPE html>
<html>
  <head>
    <title>***ADMIN***</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="aplicaciondisenyo">

    <%= render "layouts/navbar" %>

     <div class="container"> <!-- container -->
      <center><h2>***ADMIN***</h2></center>
      <div class="row fondocuerpo ">

    <%= yield %>

      </div> <!-- / row -->
     </div> <!-- / container -->     

   <%= render "layouts/footer" %>

  </body>
</html>